<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h2>Testing</h2>
    <form method="POST">
        Title: <input id="post_title" name="title" type="text" />
        <label>Post Content:</label>
        <textarea
          name="content"
          rows="10"
          cols="60"
          contenteditable
          spellcheck="True"
        ></textarea>
        <input type="submit", value="submit">
    </form>
    <hr>

    <h2>Submitted Data</h2>

    <p>
        {% for item in data %}
        {{ item.id }} - {{ item.title }} - {{ item.content }} <br>
        {% endfor %}
    </p>

    <button id='save'>
        Save
    </button>

    <script>
        const btn = document.getElementById('save');

        btn.addEventListener('click', () => {

          fetch('/save')
            .then(response => {
              if(response.ok) {
                document.getElementById('msg').innerText = "Data saved successfully";
              }
            })

        });
    </script>

</body>
</html>